html,body{
	height:100%;
	width:100%;
}

.navbar{
	padding:5px;
	background:	#4169E1;
}
.navbar-nav li a{
	color:lightgrey;
	margin: 0px 20px 0px 10px;
	text-decoration:none;
	font-size:18px;

}
.navbar-nav li a:hover{
	color:white;
}
.navbar-right li a:hover{
	background:#4169E1;
}

#active{
	color:white;
}

.navbar-brand{
	padding:5px 5px;
	text-decoration:none;
}
.navbar-brand p{
	color:white;
	text-shadow: 3px 3px black;
	font-size:25px;
}
.navbar-brand p:hover{
	color:lightgrey;
	transition:0.5s ease;
}
#home{
	background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(img/HomeBackGround.jpg)no-repeat center center fixed;
	display:table;
	position:relative;
	width:100%;
	height:100%;
	background-size:cover;
}
.landing-text{
	display: table-cell;
	text-align:center;
	color:#fff;
	vertical-align:middle;
	font-family:"Comic Sans MS", cursive, sans-serif;
}
.landing-text h1{
	font-size:100px;
}
.container{
	margin:100px;
}
.title{
	margin-bottom:100px;
}
.title h1{
	color:blue;
	font-size:60px;
}
#Search{
	font-size:20px;
}
.form-group label{
	font-size:20px;
	margin:30px 0px 30px 0px;
}
.input_word{
	font-size:50px;
	color: red;
}
.description{
	font-size:20px;
}

footer{
	color:white;
	padding:2% 5% 1% 5%;
	background:#4169E1;
}
footer h3{
	font-size:30px;
	padding:10px;
}
footer .fa{
	color:white;
	text-decoration:none;
	font-size:30px;
	padding:10px;
}
footer .fa:hover{
	color:lightgrey;
}
footer .copyright{
	margin-top:50px;
}
footer .copyright p{
	font-size:10px;
}

#Login{
	background-image: url(img/background.jpg);
	height: 100%; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.form-container{
	padding:50px;
	margin-top:20px;
	border:1px solid white;
	background-color:white;
	border-radius:10px;
	box-shadow:-1px 4px 26px 11px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height:500px;
  margin: auto;
  text-align: center;
}